# すべてのファイルを無視
# さらに、ドットから始まる設定ファイルを無視
/*
/.*

# "無視したくないファイル"は以下に"![ファイル名]"で指定
##### Gitで管理するファイルリスト #####
!/.gitignore
!/.github
!/zsh/.zshrc
!/zsh/.zshenv
!/zsh/.zsh.d/alias.zsh
!/zsh/.zsh.d/completion.zsh
!/zsh/.zsh.d/env.zsh
!/zsh/.zsh.d/mykeybind.zsh
!/zsh/.zsh.d/option.zsh
!/zsh/.zsh.d/prompt.zsh
!/zsh/.zsh.d/utils.zsh
!/zsh/.zsh.d/zplugin.zsh
!/tmux
!/tmux/.tmux.conf
!/tmux/.tmux/awsaccount.tmux
!/tmux/.tmux/kube.tmux
!/setup.zsh
!/README.md
!/PULL_REQUEST_TEMPLATE.md
!/Makefile

# 上記に"無視したくないファイル"としてリスト化した中から、さらに"無視したいファイル"を指定
